.table-travaux {
    border-collapse: collapse;
    align-self: center;
    width: 80%;
}

.table-travaux * {
    transition: all 0.5s;
    box-sizing: border-box;
}

td {
    border: 2px solid black;
}

.td-designation {
    width: 300px;
}

.decision-head {
    text-align: center;
    font-size: small;
}

.tr-etat {
    text-align: center;
}

.td-faire {
    width: 200px;
}

.tr-etat td {
    width: 50px;
}

.footer-textarea-container textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    resize: vertical;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;

}

/* EDL - pièce */

.nom-piece {
    background-color: rgb(84, 202, 248);
}

.td-titre-piece {
    border-right: 0;
}

.td-observations-piece {
    border-left: 0;
}

/* EDL - élèment */

.element-input {
    outline: none;
}

.element-container td {
    height: 45px;
}

.radio-faire-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.radio-faire-container label {
    display: flex;
 }

 .radio-faire-container input {
    margin-right: 10px;
  }

.element-etat-container {
    cursor: pointer;
}

.element-etat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;
}

.opr-head {
    height: 42.4px;
    text-align: center;
    font-size: small;
}

.td-prestation {
    width: 50px;
    font-size: x-small;
}

#effectuee {
    color: red;
}

#reserve {
    color: orange;
}

#sans-reserve {
    color: green;
}